<ul>
	<li><%= link_to 'Dodaj próbkę', new_product_sample_path(@product) %></li>
	<li><%= link_to 'Przeglądaj próbki', product_samples_path%></li>
	<li><%= link_to 'Przeglądaj eksperymenty', products_path %></li>	
</ul>
