<p id="notice"><%= notice %></p>

<h1>Listing Samples</h1>

<table>
  <thead>
    <tr>
      <th>Additive</th>
      <th>Amount</th>
      <th>Temperature</th>

    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.additive.name %></td>
        <td><%= sample.amount %></td>
        <td><%= sample.temperature %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

