<div class="panel panel-default">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<p class="navbar-text">Pomiary</p>
    </div>

      <ul class="nav navbar-nav navbar-right">
		<li><%= link_to 'Edit', product_experiment_definitions_path(@product) %></li>
      </ul>
    </div>
</nav>
<div class="panel-body">
	<table class='table'>
		<thead>
			<tr>
				<th>Metryka</th>
				<th>Serie</th>
				<th>Powtórzenia</th>
			</tr>
		</thead>
		<tbody>
		<%if @product.experiment_definitions %>
			<% @product.experiment_definitions.each do |definition|%>
				<tr>
					<td><%= definition.metric.try(:name) %></td>
					<td><%= definition.series %></td>
					<td><%= definition.repetitions %></td>
				</tr>
			<%end%>
			<%end%>
		</tbody>
	</table>
</div>
</div>