<div class="panel panel-default">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<p class="navbar-text">Receptura</p>
    </div>

      <ul class="nav navbar-nav navbar-right">
		<li><%= link_to 'Edit', product_recipes_path(@product) %></li>
      </ul>
    </div>
</nav>
<div class="panel-body">
<strong>Składniki:</strong>
<ul>
	<%@product.recipes.each do |recipe|%>
		<li><%=recipe.ingredient.name%>:	<%=recipe.amount%> g</li>
	<%end%>
</ul>
</div>
</div>