

  <%= form_for [@product,@recipe] do |f| %>
  <th>
   <div class='field'>
    <%= collection_select :recipe, :ingredient_id, Ingredient.all, :id,:name,prompt: "Wybierz" %>
  </div>
  </th>
  <th>
  <div class="field">
    <%= f.number_field :amount,:class => 'text_field', :step => 'any'%>
  </div>
  </th>
<th>
  <div class="actions">
    <%= f.submit "Dodaj składnik"  %>
  </div>
</th>
<%end%>
