
<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title"><%= @product.name %> Recipe</h3>
	</div>

  <div class="panel-body">
	<table class='table'>
<thead>
  <tr>
  <th>Recipes</th>
  </tr>
  <tr>
    <%= render 'add_recipe_thead'%>
  </tr>
</thead>

<tbody id='categories'>

    <%= render (@recipes) %>

</tbody>
</table>
<%= link_to "Zatwierdź", new_product_experiment_definition_path(@product),class: "btn btn-success" %>
<!--<button type="button" class="btn btn-success">Zatwierdź</button>-->
   
</div>
