<table class="table">
  <thead>
    <tr>
      <th>Metryka</th>
     <th> <%= link_to new_metric_path,method: :get, class: "glyphicon" do%><span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="dodaj"><%end%> </th>
  </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric.name %></td>
        <td> <%= link_to metric,method: :delete ,data: { confirm: 'Are you sure?' }, class: "glyphicon"  do%><span class="glyphicon glyphicon-remove" aria-hidden="true"  data-toggle="tooltip" data-placement="right" title="usuń"> <%end%></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


