<table class="table">
  <thead>
    <tr>
      <th>Dodatki</th>
      <th> <%= link_to new_additive_path,method: :get, class: "glyphicon" do%><span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="dodaj"><%end%> </th>
  </tr>
  </thead>

  <tbody>
    <% @additives.each do |additive| %>
      <tr>
        <td><%= additive.name %></td>
        <td> <%= link_to additive, remote:true ,method: :delete ,data: { confirm: 'Are you sure?' }, class: "glyphicon"  do%><span class="glyphicon glyphicon-remove" aria-hidden="true"  data-toggle="tooltip" data-placement="right" title="usuń"> <%end%></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


