<%if ingredient%>
 <tr>
        <td><%= ingredient.name %></td>
        <td> <%= link_to ingredient, method: :delete ,data: { confirm: 'Are you sure?' }, class: "glyphicon"  do%><span class="glyphicon glyphicon-remove" aria-hidden="true"  data-toggle="tooltip" data-placement="right" title="usuń"> <%end%></span></td>
</tr>
<%end%>