<table class='table'>
  <thead>
    <tr>
      <th>Składniki</th>
      <th> <%= link_to new_ingredient_path,method: :get, class: "glyphicon" do%><span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="dodaj"><%end%> </th>
  </tr>
  </thead>

  <tbody>
  <% if @ingredients %>
    <%= render(@ingredients) %>
  <%end%>

  </tbody>
</table>