<table class='table'>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if @ingredients %>
    <%= render(@ingredients) %>
  <%end%>

  </tbody>
</table>