<h1>Witaj w </br><span class='food'>Food</span> Base</h1>
<p><strong>Portalu do analizy procesów produkcji żywności. Został on zrealizowany w ramach pracy magisterskiej,
 przez Mikołaja Wawrzyniaka studenta Wydziału Informatyki na Politechnice Poznańskiej.</strong></p>
