<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<h1>Porównanie eksperymentów dla metryki: <%=@metric.try(:name)%> </h1>
<div id="content"></div>
  <%= javascript_include_tag 'compare_show.js' %>
  