// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#recipe{
 display: none;
}

.comparasion{
		table-layout: fixed;
		th,td:nth-child(even){
			 border-right: 1px solid #ddd;
		}
}

.jumbotron{
	padding-left: 25% !important;
	padding-right:25% !important;
}
tr{
	cursor: pointer;
}

td.hover{
	background-color: #b3ffb3;
}

.glyphicon{
	cursor: pointer;
}
.navbar-text{
	font-weight: bold;
}
.show{
	thead{
			font-size: 12px !important;
		}

}



.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: sans-serif;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}