
<table class='table'>
<thead>
  <tr>
  <th>Produkty</th>
  <th> <%= link_to new_category_path,method: :get, class: "glyphicon" do%><span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="dodaj"><%end%> </th>
  </tr>
</thead>

<tbody id='categories'>
  
    <%= render (@categories) %>

</tbody>
</table>

<br>


