<div class="panel panel-default">
<div class="panel-heading">
	<h3 class="panel-title"><%= sample.additive.name + " " +sample.amount.to_s+" %"%></h3>
</div>
<div class="panel-body">
<p>
	<strong>Temperatura:</strong>
	<%=sample.temperature%>&deg;C
</p>

<p>
	<table class='table'>
		<thead class='sensory_analysis'>
			<tr>
				<%sample.metrics.uniq{|m| m.name}.collect{|x| x.name}.each do |name|%>
				<th><%=name%></th>
				<%end%>
			</tr>
		</thead>
		<tbody>
		<%if sample.product.repetitions != nil%>	
			<%(1..sample.product.repetitions).each do |i|%>
				<tr>
					<%sample.sensory_analyses.where(repetition_id: i).each do |analysis|%>
						<td><%=analysis.value%></td>
					<%end%>
				</tr>
			<%end%>
			<%end%>
		</tbody>
	</table>
</div>
</div>