<ul>
	<li><%= link_to 'Dodaj eksperyment', new_product_path %></li>
	<li><%= link_to 'Przeglądaj eksperymenty', products_path %></li>
	<li><%= link_to 'Importuj eksperyment', import_path %></li>
</ul>
