
<!--<p id="notice"><%= notice %></p>-->

<h1>Eksperymenty</h1>
<div class="jumbotron">
 <%= render "filters" %>
</div>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Produkt</th>
      <th>Nazwa</th>
      
      <th>Utworzono</th>
      <th>Zaktualizowano</th>

    </tr>
  </thead>

  <tbody>
  <% if @products %>
    <%= render(@products) %>
  <%end%>

  </tbody>
</table>


