
<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="jumbotron">
 <%= render "filters" %>
</div>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Artykuł</th>
      <th>Utworzono</th>
      <th>Zaktualizowano</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  <% if @products %>
    <%= render(@products) %>
  <%end%>

  </tbody>
</table>


